.header-component {
  height: 5%;
  padding: 10px 0;
  background-color: #ffff;
  width: 100%;

  .content {
    width: 100%;
    justify-content: right;
    display: flex;

    .header-nav {
      transition: all 0.5s;

      .nav-link {
        color: var(--activeLinkColor);
        display: inline-block;
        text-decoration: none;
        margin-right: 10px;
        padding-bottom: 7px;
        transition: all 0.2s;
        border-bottom: 1px solid transparent;

      }
    }


  }
}

.active-navbar-link {
  margin-right: 10px;
  border: none;
  padding-bottom: 7px;
  color: var(--activeLinkColor);
  border-bottom: 1px solid #2181E8;
}

